
.header-product {
    padding: 20px 0;
    border-top: 1px solid #DEDEDE;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);

    .row {
        align-items: center;
    }

    &__col {

        &_left {
            width: 30%;
        }

        &_middle {
            width: 49.866%;
            display: flex;
            justify-content: flex-end;
            margin-right: 50px;
        }

        &_right {
            display: flex;
            column-gap: 10px;
            align-items: center;
            flex: 1;
            min-width: 248px;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__card-img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }

    &__card-title {
        font-size: 14px;
        font-weight: 500;
    }

    &__card-tagline {
        color: $colorSurface;
        font-size: 12px;
        font-weight: 400;
    }

    &__price {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    &__price-label {
        font-size: 14px;
    }

    &__price-val {
        font-size: 18px;
        font-weight: 500;
    }

    &__btn {
        border-radius: 6px;
        cursor: pointer;
        border: none;

        &_basket {
            padding: 10px;
            max-width: 200px;
            width: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 6px;
            background-color: $accentColor;
            color: #fff;
            font-size: 12px;
            border: 1px solid transparent;
            transition: 0.3s;

            svg {
                width: 16px;
                height: 16px;
                transition: color, background-color 0.3s;
            }

            &:hover {
                transform: translateY(-2px);
            }
        }

        &_liked {
            background-color: #E6F4EC;
            padding: 11.56px 10.812px;

            svg {
                width: 16.384px;
                height: 14.895px;
                display: block;
            }
        }
    }
}


.services {
    margin-top: 90px;

    &__title {
        margin-top: 0;
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        align-items: stretch;
        gap: 25px 19.33px;
        flex-wrap: wrap;
    }

    &__block {
        flex: 1 1 356px;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        padding: 20px;
    }

    &__icons {
        position: relative;
        top: 3px;

    }

    &__round {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #e6f4ec;
        border-radius: 10px;
    }

    &__text-title {
        margin-top: 30px;
        font-weight: 500;
        font-size: 18px;
        color: #000;
    }

    &__text-descr {
        margin: 10px 0 20px 0;
        font-weight: 400;
        font-size: 14px;
        color: #aaa;
    }
}

.layout {
    display: flex;
    flex-direction: row;

    &__img {
        display: flex;
        border-radius: 20px;
        width: 731px;
        height: 454px;
        margin: 0 145px 0 0;

    }

    &__wrapper_right {
        width: 481px;
        height: 454px;
        margin-right: 10px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        color: #000;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        color: #616161;
        background: #f5f5f5;
        margin-top: 20px;
    }

    &__subtitle_text {
        margin: 0 0 0 10px;
    }

    &__alert {
        display: flex;
        flex-direction: row;
        padding: 10px 10px 10px 10px;

        &_mobile {
            display: none;
        }
    }

    &__wrapper_table {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: 481px;
        height: 265px;
    }

    &__table_title {
        font-weight: 500;
        font-size: 18px;
        color: #000;
        margin-top: 49px;
    }

    &__table_column {
        font-weight: 400;
        font-size: 14px;
        color: #aaa;
        text-align: left;
    }

    &__table_row {
        font-weight: 400;
        font-size: 14px;
        color: #000;
        text-align: right;
    }

    &__table_cell {
        display: flex;
        justify-content: space-between; // Распределяет элементы по краям строки
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        padding: 20px 0px;
        width: 481px;
        height: 57px;

        &:last-child {
            border-bottom: none;
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: 100%;
        padding: 0 0 0 0;
    }

    .row {
        display: block;
        padding: 0 16px;
        width: 328px;
        height: 620px;
    }

    .layout {

        &__alert {
            flex-direction: column;

            &_svg {
                display: flex;
                flex-direction: row;
            }

            &_mobile {
                display: flex;
            }
        }

        &__title {
            display: none;

        }

        &__title_mobile {
            display: block;
            font-weight: 600;
            font-size: 20px;
            color: #000;
            margin: 0 0 0 10px;
        }

        &__subtitle {
            display: none;
        }

        &__subtitle_mobile {
            display: flex;
            flex-direction: row;
            font-weight: 400;
            font-size: 12px;
            color: #616161;
            background: #f5f5f5;
        }

        &__table_cell {
            width: 328px;
            height: 287px;
        }

        &__img {
            width: 328px;
            height: 201px;
        }
    }

